<mat-card class="mat-card-dark mat-elevation-z8"> 
    <mat-card-header style="display: flex; justify-content: space-between;">
      <mat-card-title>
        {{ dataSetRoute | titlecase}} Sheet
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>


      <span *ngIf="general;else choose">

        <mat-grid-list cols="2" rowHeight="60px">
          <mat-grid-tile *ngFor="let field of dataSet | keyvalue">
            {{ field.key }}:  
            
            {{ general[field.value] }}
          </mat-grid-tile>
        </mat-grid-list>
        
        
        <ng-template #elseblock>
          <mat-spinner></mat-spinner>
        </ng-template>
      </span>
      <ng-template #choose>
        <h3 matLine>Choose General!</h3>
      </ng-template>
      

    </mat-card-content>
    <mat-card-actions *ngIf="general" style="display: flex; justify-content: space-between;">
      <button type="button" mat-button (click)="cancelled.emit();$event.stopImmediatePropagation();">
        Cancel
      </button>
    </mat-card-actions>
</mat-card>